
[report]
ignore_errors = True

[run]
relative_files = True
omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*
    # omit this single file


