<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aspects.css">

    <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
    <script>
        mermaid.initialize({ startOnLoad: true });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.10/brython.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.10/brython_stdlib.js"></script>
    <title>Justuse</title>
</head>

<body onload="brython()">
    <header>
        <h1>Dry Run for applying {{decorator.__name__}} to &lt;{{module_name}}&gt;
        </h1>
    </header>
    <p> Here are all the objects we could decorate inside module/package &lt;{{module_name}}&gt;.</p>

    <section>
        <table id="decorators">
            <tr>
                <th> qualname </th>
                <th> name</th>
                <th> type </th>
                <th> applicable </th>
                <th> reason </th>
            </tr>
            {% for entry in hits %}
            <tr id="deco_row_{{loop.index}}">
                <td>{{entry.qualname}}</td>
                <td> {{ entry.name }} </td>
                <td> {{ entry.type.__name__ }} </td>
                <td> {{ entry.success }} </td>
                <td> {{entry.exception}} </td>
            </tr>
            {% endfor %}
        </table>
    </section>

</body>

</html>