<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">

    <script src="https://cdn.jsdelivr.net/npm/brython@3.10/brython.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.10/brython_stdlib.js">
    </script>


    <title>Justuse</title>
</head>

<body onload="brython()">
    <header>
        <h1>Aspectization</h1>
    </header>
    <p> Here is a list of objects we have decorated, in order of application.</p>

    <p> {{decorators}}</p>

    <p> {{functions}}</p>

</body>

</html>