
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px #ccc solid;
    background-color: #eee;
}

h2 {
    margin-top: 20px;
}

button {
    cursor: pointer;
    display: block;
    background: #333;
    color: #fff;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px 0;
}

input[type="text"] {
    border: 1px #ccc solid;
    width: 300px;
    padding: 4px;
    height: 35px;
    margin-top: 20px;
}

.card {
    margin: 20px 0;
    border: #ccc 1px solid;
    padding: 20px;
}

.box {
    background: steelblue;
    width: 1.6em;
    height: 1.6em;
}