<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">

    <script src="https://cdn.jsdelivr.net/npm/brython@3.10/brython.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/brython@3.10/brython_stdlib.js">
    </script>


    <title>Justuse</title>
</head>

<body onload="brython()">
    <header>
        <h1>Auto-installation of {{package_name}} version {{version}}</h1>
        Please specify the hash corresponding to the platform you want to run your code on.
        Values from different hash algorithms can't be mixed together, but regular hexdigests and JACK
        representations
        are interchangeable. After you selected everything you want, copy & paste the snippet below into your code.
    </header>

    <p>
        <button class="button" , id="clipboard_button">Copy to Clipboard</button>
    </p>
    <p>
        <textarea id="result" rows="5" style="resize: none;" readonly cols="120">use('{{name}}', version='{{version}}', , modes=use.auto_install, hash_algo=use.Hash.sha256, hashes={ 
                ... 
            })</textarea>
    </p>
    <p>
        <button class="button" , id="jack_button">Hash as JACK</button>
    </p>
    {% for hash_name in table.keys()%}
    <section>
        <div>
            <button>{{hash_name}}</button>
        </div>
        <table id="{{hash_name}}">
            <tr>
                <th> Python</th>
                <th> Platform </th>
                <th id="hash_header"> Hash </th>
            </tr>
            {% for entry in table[hash_name] %}
            <tr>
                <td> {{ entry.python }} </td>
                <td> {{ entry.platform }} </td>
                <td id="hash_value_{{loop.index}}"> {{ entry.hash_value}} </td>
            </tr>
            {% endfor %}
        </table>
    </section>
    {% endfor %}

    <script type="text/python" id="script">
    from browser import console, document, window, alert, bind, html

    document["clipboard_button"].bind("click", lambda event: window.navigator.clipboard.writeText(document["result"].text))
    
    </script>

</body>

</html>

<!-- 
        switch = document["button-jack"]
        table = document["table-jack"]

        def change(e):
            box.style.display = "none"

        document['button-jack'].bind('click', change)

        def update_select(ev):
            # selects / deselects options in the SELECT box
            # ev.target is the checkbox we just clicked
            rank = choices.index(ev.target.value)
            sel.options[rank].selected = ev.target.checked

        def show_selected(ev):
            alert([option.value for option in sel if option.selected])

        def update_checkboxes(ev):
            # updates checkboxes when the selection has changed
            selected = [option.value for option in sel if option.selected]
            for elt in doc.get(selector='input[type="checkbox"]'):
                elt.checked = elt.value in selected

        choices = ["one","two","three","four","five"]
        sel = html.SELECT(size=5, multiple=True)
        for item in choices:
            sel <= html.OPTION(item)
        sel.bind("change", update_checkboxes)

        for item in choices:
            chbox = html.INPUT(Type="checkbox", value=item)
            chbox.bind("click", update_select)
            doc["panel"] <= item + chbox

        doc["panel"] <= sel

        b_show = html.BUTTON("show selected")
        b_show.bind("click", show_selected)
        doc["panel"] <= b_show
    </script>
    https://github.com/brython-dev/brython/blob/master/www/tests/editor.py -->