<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.8.8/brython.js"
        integrity="sha256-rA89wPrTJJQFWJaZveKW8jpdmC3t5F9rRkPyBjz8G04=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.8.8/brython_stdlib.js"
        integrity="sha256-Gnrw9tIjrsXcZSCh/wos5Jrpn0bNVNFJuNJI9d71TDs=" crossorigin="anonymous"></script>


    <title>Justuse</title>
</head>

<body onload="brython()">
    <h1>Auto-installation of {{package_name}} version {{version}}</h1>
    <p>
        Please specify the hash corresponding to the platform you want to run your code on.
        Values from different hash algorithms can't be mixed together, but regular hexdigests and JACK representations
        are interchangeable. After you selected everything you want, copy & paste the line below into your code.
    <p>
        <textarea id="result" rows="1.5" style="resize: none;" readonly
            cols="120">use('{{name}}', version='{{version}}', hash_algo=use.Hash.sha256, hashes={ ... }, modes=use.auto_install)</textarea>

    <section>
        <div tabindex="0">
            <button>Tab 1</button>
            <p>Tab Content #1</p>
        </div>
        <div tabindex="0">
            <button>Tab 2</button>
            <p>Content for Tab #2</p>
        </div>
        <div tabindex="0">
            <button>Tab 3</button>
            <p>#3 Tab Content</p>
        </div>
    </section>


</body>

</html>